<div class="container">

  <h1>🔗 Encurtador de URL</h1>
  
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
    <div class="form-group">
      <label for="url">URL para encurtar:</label>
      <input 
        type="url" 
        id="url" 
        formControlName="url" 
        placeholder="www.exemplo.com"
        class="form-input"
        [ngClass]="{ 'error-input': form.get('url')?.invalid && form.get('url')?.touched }"
        required
      >
      @if (form.get('url')?.invalid && form.get('url')?.touched) {
        <div id="url-error" class="error-message">
          Por favor, insira uma URL válida (ex: http://exemplo.com ou https://exemplo.com)
        </div>
      }
    </div>


    <div class="form-group">
      <label for="minutes">Tempo de expiração (minutos):</label>
      <input 
        type="number" 
        id="minutes" 
        formControlName="minutes" 
        min="1"
        class="form-input"
      >
    </div>

    <button type="submit" class="submit-btn" [disabled]="!form.valid || isLoading">
      {{ isLoading ? 'Processando...' : 'Encurtar URL' }}
    </button>
  </form>

  
  <app-url-result [result]="result"></app-url-result>
  <app-error-message 
    [show]="!!error" 
    [message]="error || 'Unexpected error!'"
    title="Erro ao encurtar URL"
    note="Tente novamente ou verifique sua conexão."
  >
  </app-error-message>  
  <app-loading [loading]="isLoading"></app-loading>
</div>

